@{
    ViewData["Title"] = "Zero To One";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Zero To One</h1>
    <p>This project is build with ASP.NET Core 3.0, SQL Server, Entity Framework, and Bootstrap.</p>
    <p>Source code available at <a href="https://github.com/luluwheelan/ZeroTOne" alt="View on GitHub">GitHub</a></p>
</div>
