
@{
    ViewData["Title"] = "Shop the Zero To One";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Please choose a Product</h1>

<ul>
    <li>Product 1</li>
    <li>Product 2</li>
    <li>Product 3</li>
</ul>